* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
/* list elements 列表元素 */

pre,
form,
fieldset,
legend,
button,
input,
textarea,
/* form elements 表单元素 */

th,
td
/* table elements 表格元素 */

    {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/

body,
button,
input,
select,
textarea
/* for ie */

    {
    //   font: 12px/1.5 tahoma, arial, '\5b8b\4f53', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

/* 将斜体扶正 */

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
}

/* 统一等宽字体 */

small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/

ul,
ol {
    list-style: none;
}

/** 重置文本格式元素 **/

a {
    text-decoration: none;
}

// a:hover { text-decoration: underline; }
/** 重置表单元素 **/

legend {
    color: #000;
}

/* for ie6 */

fieldset,
img {
    border: 0;
}

/* img 搭车：让链接里的 img 无边框 */

button,
input,
select,
textarea {
    font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */

/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 清除浮动 */

.ks-clear:after,
.clear:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.ks-clear,
.clear {
    *zoom: 1;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    min-width: 320px;
    height: 100%; // background-color: #f7f8f9;
    ul,
    li,
    dl,
    dt,
    dd {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

#app {
    // border: 1px solid red;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #222;
    height: 100%;
    .home {
        height: 100%;
    }
}

@media screen and (min-width:640px) {
    #app {
        max-width: 640px;
        margin: 0 auto;
        border-left: 1px solid #f7f8f9;
        border-right: 1px solid #f7f8f9;
    }
}

//重写MINT UI 样式
.mint-indicator-wrapper {
    z-index: 999;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.bg-white {
    background-color: #fff;
}

.inputRight {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), color-stop(50%, #d9d9d9), color-stop(50%, transparent));
    background-image: linear-gradient(0deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    .mint-cell-value {
        input.mint-field-core {
            text-align: right;
            padding-right: 10px;
        }
    }
}

.modelRight {
    width: 100%;
    height: 100%;
    background: #fff;
    >section{
        // border:1px solid red;
        position: absolute;
        left: 0;
        top: 40px;
        right: 0;
        bottom: 55px;
        -webkit-overflow-scrolling: touch;        
    }
    .buttonFoot {
        position: fixed;
        left: 15px;
        right: 15px;
        bottom: 15px;
        z-index: 2;
    }
}

footer.btnFooter {
    // border: 1px solid blue;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    text-align: center;
    // z-index: 1;
    button {
        width: 100%;
    }
    &.btnNum2 button {
        width: 120px;
        margin: 0 10px;
    }
}

.popupSelect {
    height: 100%;
    position: relative;
    .pupupSearch {
        border: 1px solid #eee;
        background-color: #fefefe;
        margin: 5px 20px 5px 19px;
        padding-right: 15px;
        height: 38px;
        line-height: 38px;
        border-radius: 6px;
        position: relative;
        input {
            width: 100%;
            height: 38px;
            background-color: transparent;
            border: none;
            outline: 0;
            text-indent: 30px;
            text-align: center; // border: 1px solid red;
        }
        .icon {
            // border: 1px solid red;
            position: absolute;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            left: 8px;
            top: 50%;
            margin-top: -15px;
            color: #606266;
            i {
                font-size: 19px;
            }
        }
    }
    section {
        // border: 1px solid red;
        // background-color: #f7f8f9;
        overflow: auto;
        position: absolute;
        left: 0;
        top: 40px;
        right: 0;
        bottom: 55px;
        -webkit-overflow-scrolling: touch;
        ul.dataList {
            >li {
                padding: 8px 45px 8px 15px;
                min-height: 30px;
                line-height: 30px;
                position: relative;
                border-bottom: 1px solid #f3f3f3;
                >div {
                    color: #909399;
                    line-height: 18px;
                    margin-bottom: 3px;
                }
                .icon {
                    // border: 1px solid red;
                    position: absolute;
                    width: 26px;
                    height: 26px;
                    line-height: 26px;
                    text-align: center;
                    top: 50%;
                    margin-top: -13px;
                    right: 12px;
                    color: #008ce0;
                    i {
                        font-size: 22px;
                    }
                }
                &.active {
                    background: #fcfcfc;
                }
            }
        }
        .listIndex {
            // border:1px solid red;
            .mint-indexsection-index {
                // border: 1px solid blue;
                padding-left: 20px;
            }
            .mint-indexsection-index+ul>div {
                // border: 1px solid blue;                
                padding-left: 10px;
                .icon {
                    margin-right: 5px;
                    color: #008ce0;
                }
                .mint-cell:active {
                    background-color: #eee;
                }
            }
        }
    }
}

.getMore {
    height: 35px;
    line-height: 30px;
    color: #606266;
    .iconfont {
        margin-right: 3px;
        position: relative;
        top: 1px;
    }
    >span:last-child {
        color: #ddd;
    }
}

.groupTitle {
    padding: 10px 15px 8px;
    font-size: 16px;
    >span {
        color: #999;
        font-size: 14px;
    }
}

.hasInput {
    // border: 1px solid red;
    input {
        border: none; // border: 1px solid red;
        height: 24px;
        line-height: 24px;
        width: 30%;
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -12px;
        z-index: 1;
        text-align: right;
        font-size: 15px;
        color: #333;
        font-weight: normal;
        background: transparent;
        outline: 0;
        &::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #888;
        }
    }
}

.mint-cell-value.is-link>span.value {
    // border: 1px solid red;
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    color: #222;
}

.required {
    // border: 1px solid red;
    position: relative;
    &:before {
        // border:1px solid blue;
        content: '*';
        width: 10px;
        height: 10px;
        line-height: 10px;
        text-align: center;
        position: absolute;
        left: 5px;
        top: 50%;
        z-index: 1; // margin-top: -5px;
        color: red;
        font-size: 20px;
    }
}
.mint-header{
    // border: 1px solid red;
    position: fixed;
    width: 100%;
    font-size: 16px;
    z-index: 1;
    .mint-button-icon{
        position: relative;
        top:-1px;
    }
}
.mint-cell-value >span{
    color: #B9B0B0;
}
.itemTxt .mint-cell-value >span{
    color: #222;
}
// 重置
.mint-cell-wrapper {
    padding: 0 15px!important;
}
.mint-toast {
    z-index: 999999;
}