html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    min-width: 320px;
    height: 100%; // background-color: #f7f8f9;
    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #222;
    height: 100%;
    .home{
        height: 100%;
    }
}

//重写MINT UI 样式
.mint-indicator-wrapper {
    z-index: 999;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.inputRight {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), color-stop(50%, #d9d9d9), color-stop(50%, transparent));
    background-image: linear-gradient(0deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    .mint-cell-value {
        input.mint-field-core {
            text-align: right;
            padding-right: 10px;
        }
    }
}

.modelRight {
    width: 100%;
    height: 100%;
    background: #fff;
    .buttonFoot {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 15px;
    }
}

footer.btnFooter{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    text-align: center;
    &.btnNum2 button{
        width: 120px;
        margin: 0 10px;
    }
}